.body-1 { /* fondo pantalla 1 */
    background-image: url("imagen1.jpg");
    background-repeat: no-repeat;
    background-size: auto;
  }

.body-2 { /* fondo pantalla 2 */
    background-image: url("imagen2.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    margin: 80px;
    font-size: 25px;
  }

.body-3 { /* fondo pantalla 3 */
    background-image: url("imagen3.jpg");
    background-repeat: no-repeat;
    background-size: auto;
  }  

 h1 {
     color: white;
     text-align: center;
     font-family:'Poppins', sans-serif;
     margin: 50px;
 } 

 h2 {
     color: white;
     text-align: center;
     font-family:'Poppins', sans-serif;
 }
 p{
    color: white;
    font-family:'Poppins', sans-serif;
  }

  .cuadrado{ /*cajas de pagina 1 y 3*/
    padding:80px;
    text-align: justify;
    font-family:'Poppins', sans-serif;
    background-size: auto;
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
    margin: 80px;
    }

  .button1 { /* boton empezar*/
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: white;
  }
  
  .button3 { /* boton terminar */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
  }
  
.body-2  [for=offset] { /* texto desplazamiento */
  color: white;
  font-family:'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.body-2 [id=offset] { /* caja ingresar desplazamiento*/
  width: 35px;
  height: 15px;
}
/*EMPIEZA CODIFICADO*/
.body-2 [id=textoencode] { /*texto crea codigo*/
  width: 500px;
  height: 50px;
  text-align: center;
  /*background-color:rgba(0, 0, 0, 0.5)*/ 
  }

.body-2 [id=botonencode] { /* boton cifrar */
  border: none;
  color: black;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 15px;
  margin: 0px 931px;
  cursor: pointer;
  background-color: white;
  }

.body-2 [id=resultadoencode] { /* caja texto descifrado*/
    width: 500px;
    height: 50px;
    font-weight: bolder;
    text-align: center;
    }

.body-2  [for=resultadoencode] { /* texto código a compartir */
  color: white;
  font-family:'Poppins', sans-serif;
  font-weight: bold;
  font-weight: bold;
  font-size: 21px;
}

.body-2  [for=resultadoencode] { /* texto código a compartir x2*/
  color: white;
  font-family:'Poppins', sans-serif;
  font-weight: bold;
  font-weight: bold;
  font-size: 21px;
}
/*EMPIEZA DECODIFICADO*/
  .body-2 [id=botondecode] { /* boton descifrar*/
      border: none;
      color: black;
      padding: 8px 10px;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      display: inline-block;
      font-size: 15px;
      margin: 0px 905px;
      cursor: pointer;
      background-color: white;
  }
      
  .body-2  [for=resultadodecode] { /* texto tu codigo de confirmación*/
      color: white;
      font-family:'Poppins', sans-serif;
      font-weight: bold;
      font-size: 21px;
   }
      
  .body-2 [id=textodecode] { /* caja de texto conoce codigo*/
      width: 500px;
      height: 50px;
      text-align: center;
      /*background-color:rgba(0, 0, 0, 0.5)*/
  }
      
  .body-2 [id=resultadodecode] { /* caja de texto con resultado*/
      width: 500px;
      height: 50px;
      font-weight: bolder;
      text-align: center;
  }

  .body-2  [for=conocecodigo] { /* texto conoce tu codigo*/
      font-size: 23px
  }

  .body-2  [for=resultadodecode] { /* texto tu codigo es*/
      font-size: 24px
  }
      
.body-2 [id=otrocodigo] { /*boton limpiar consola*/
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
}


